# Question 1

<br></br>
Consider the following Python module:
<br></br>
<p>a = 0</p>
<p>def b():</p>
<p> global a</p>
<p> a = c(a)</p>
<p>def c(a):</p>
<p>return a + 2</p>
<br></br>
After importing the module into the interpreter, you execute:
<br></br>
<p>>>> b()</p>
<p>>>> b()</p>
<p>>>> b()</p>
<p>>>> a</p>
<p>?</p>
<br></br>
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [ ]:
a = 0
In first b() a= 0+2 i.e 2
In second b() a= 2+2 i.e 4
In third b() a= 4+2 i.e 6
So Output will be 6

# Question 2
<br></br>
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
<br></br>
<p>>>> fileLength('midterm.py')</p>
<p>284</p>
<p>>>> fileLength('idterm.py')</p>
<p>Traceback (most recent call last):</p>
<p>File "<pyshell#34>", line 1, in <module></p>
<p> fileLength('idterm.py')</p>
<p>File "/Users/me/midterm.py", line 3, in fileLength</p>
<p> infile = open(filename)</p>
<p>FileNotFoundError: [Errno 2] No such file or directory:
<p>'idterm.py'</p>
    <br></br>
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
<br></br>
<p>>>> fileLength('midterm.py')</p>
<p>358</p>
<p>>>> fileLength('idterm.py')</p>
<p>File idterm.py not found.</p>

In [8]:
import os
def fileLength(filename):
  try:
    length = os.stat(filename)
    print(length.st_size)
  except IOError:
    print("File "+str(filename)+" not found")
    
fileLength('Problem Set 2.ipynb')
fileLength('idterm.py')

23498
File idterm.py not found

# Question 3
<br></br>
Write a class named Marsupial that can be used as shown below:
<br></br>
<p>>>> m = Marsupial()</p>
<p>>>> m.put_in_pouch('doll')</p>
<p>>>> m.put_in_pouch('firetruck')</p>
<p>>>> m.put_in_pouch('kitten')</p>
<p>>>> m.pouch_contents()</p>
<p>['doll', 'firetruck', 'kitten']</p>
<br></br>
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
<br></br>
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
<br></br>
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
<br></br>
c. overloads the __str__ operator so it behaves as shown below.
<br></br>
<p>>>> k = Kangaroo(0,0)</p>
<p>>>> print(k)</p>
<br></br>
I am a Kangaroo located at coordinates (0,0)
<br></br>
<p>>>> k.put_in_pouch('doll')</p>
<p>>>> k.put_in_pouch('firetruck')</p>
<p>>>> k.put_in_pouch('kitten')</p>
<p>>>> k.pouch_contents()</p>
<p>['doll', 'firetruck', 'kitten']</p>
<p>>>> k.jump(1,0)</p>
<p>>>> k.jump(1,0)</p>
<p>>>> k.jump(1,0)</p>
<p>>>> print(k)</p>
<br></br>
I am a Kangaroo located at coordinates (3,0)

In [80]:
#Part 1
class Marsupial:   
    def __init__(self):
        
        self.pouch=[]
    
    def put_in_pouch(self, item):
        self.pouch=self.pouch+[item]
   

    def pouch_contents(self):
        return self.pouch
 
m = Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
print(m.pouch_contents()) 

#Part 2
class Kangaroo(Marsupial): #Kangaroo is now a subclass of Marsupial
    
    def __init__(self,x,y): #Initializing X and Y coordinates
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
   
    def __str__(self): #Returns the output of coordinates
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)


k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4
<br></br>
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
<br></br>
<p>x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛</p>
<p>x = { 3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑d</p>
<br></br>
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
<br></br>
<p>>>> collatz(1)</p>
<p>1</p>
<p>>>> collatz(10)</p>
<p>10</p>
<p>5</p>
<p>16</p>
<p>8</p>
<p>4</p>
<p>2</p>
<p>1</p>

In [44]:
def collatz(x):
    print(x)
    if x == 1:
        return 
    elif x%2 == 0:
        return collatz(x//2)  
    else:
        return collatz(x*3+1) 
print(">>> collatz(1)")    
collatz(1)
print(">>> collatz(10)")  
collatz(10)

>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

# Question 5
<br></br>
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
<br></br>
<p>>>> binary(0)</p>
<p>0</p>
<p>>>> binary(1)</p>
<p>1</p>
<p>>>> binary(3)</p>
<p>11</p>
<p>>>> binary(9)</p>
<p>1001</p>
<br></br>

In [10]:
def binary(num):
    if num == 0:
        return '0'
    else:
       b = ''
       while num > 0: #when the number is more than zero
           b = str((num % 2)) + b
           num //= 2 #floor divison by 2 then retuen value
    return b
print(">>> binary(0)")
print(binary(0))
print(">>> binary(1)")
print(binary(1))
print(">>> binary(3)")
print(binary(3))
print(">>> binary(9)")
print(binary(9))

>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

# Question 6
<br></br>
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
<br></br>
<p>>>> infile = open('w3c.html')</p>
<p>>>> content = infile.read()</p>
<p>>>> infile.close()</p>
<p>>>> hp = HeadingParser()</p>
<p>>>> hp.feed(content)</p>
<p>W3C Mission</p>
<p>Principles</p>

In [149]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    head = False
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.head = True
    def handle_data(self, data):
        if self.head:
            print(data)


infile = open("w3c.html", "r")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


Principles

In [151]:
from html.parser import HTMLParser
#:(
class HeadingParser(HTMLParser):
    header1 = 'h1'
    header2 = 'h2'
    
    def handle_starttag(self, tag, attrs):
        if tag in self.header1:
            print()

    def handle_endtag(self, tag):
        if tag in self.header2:
            print()

    def handle_data(self, data):
        print(data)


infile = open("w3c.html", "r")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


Principles

# Question 7
<br></br>
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
<br></br>
<p>>>></p>
<p>webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html, 2, 0)'</p>

<p>http://reed.cs.depaul.edu/lperkovic/csc242/test1.html</p>
<p> http://reed.cs.depaul.edu/lperkovic/csc242/test2.html</p>
<p> http://reed.cs.depaul.edu/lperkovic/csc242/test4.html</p>
<p> http://reed.cs.depaul.edu/lperkovic/csc242/test3.html</p>
<p> http://reed.cs.depaul.edu/lperkovic/csc242/test4.html</p>

IndentationError: expected an indented block (1470048603.py, line 6)

# Question 8
<br></br>
Write SQL queries on the below database table that return:
<p>a) All the temperature data.</p>
<p>b) All the cities, but without repetition.</p>
<p>c) All the records for India.</p>
<p>d) All the Fall records.</p>
<p>e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.</p>
<p>f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.</p>
<p>g) The total annual rainfall for Cairo.</p>
<p>h) The total rainfall for each season.</p>
<br></br>
<table>
<tr>
<th>City</th> 
<th>Country</th>
<th>Season</th>
<th>Temperature(C)</th>
<th>Rainfall(mm)</th>
</tr>
<tr>
    <td>Mumbai</td> 
    <td>India</td>
    <td>Winter</td>
    <td>24.8 </td>
    <td>5.9</td>
    
</tr>
    <tr>
    <td>Mumbai</td>
    <td>India </td>
    <td>Spring</td>
    <td>28.4 </td>
    <td>16.2</td>
</tr>
    <tr>
    <td>Mumbai</td>
    <td>India </td>
    <td>Summer</td>
    <td>27.9 </td>
    <td>1549.4</td>
</tr>
    <tr>
    <td>Mumbai</td>
    <td>India </td>
    <td>Fall</td>
    <td>27.6</td>
    <td>346.0</td>
</tr>
    <tr>
    <td>London</td>
    <td>United Kingdom </td>
    <td>Winter</td>
    <td>4.2</td>
    <td>207.7</td>
</tr>
    <tr>
   <td> London</td>
    <td>United Kingdom </td>
    <td>Spring </td>
    <td>8.3 </td>
    <td>169.6</td>
</tr>
    <tr>
   <td> London</td>
    <td>United Kingdom</td>
    <td>Summer</td>
    <td>15.7 </td>
    <td>157.0</td>
</tr>
    <tr>
    <td>London</td>
    <td>United Kingdom</td>
    <td>Fall </td>
   <td> 10.4 </td>
   <td> 218.5</td>
</tr>
    <tr>
    <td>Cairo</td>
   <td> Egypt</td>
    <td>Winter</td>
    <td>13.6</td>
    <td>16.5</td>
</tr>
    <tr>
    <td>Cairo</td>
    <td>Egypt</td>
    <td>Spring</td>
    <td>20.7</td>
    <td>6.5</td>
</tr>
    <tr>
   <td> Cairo</td>
    <td>Egypt</td>
    <td>Summer</td>
   <td> 27.7</td>
    <td>0.1</td>
</tr>
    <tr>
    <td>Cairo</td>
   <td> Egypt</td>
   <td> Fall</td>
    <td>22.2</td>
   <td> 4.5 </td>
</tr>
</table>

In [91]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\jeffrey\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: prettytable<1 in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: sqlparse in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pygments>=2.4.0 in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: backcall in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: colorama in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: decorator in c:\users\jeffrey\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\jeffrey\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\jeffrey\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jeffrey\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: pure-eval in c:\users\jeffrey\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\jeffrey\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\jeffrey\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)

In [90]:
%load_ext sql
%sql sqlite:///

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [83]:
%%sql
CREATE TABLE weather(
    city varchar(30),
    country varchar(40),
    season varchar(50),
    temperature float(20),
    rainfall  float(30)
);

 * sqlite:///
Done.

[]

In [ ]:
%%sql
INSERT INTO weather VALUES
('Mumbai','India', 'winter','24.8','5.9'),
('Mumbai','India', 'spring','28.4','16.2'),
('Mumbai','India', 'summer','27.9','1549.4'),
('Mumbai','India', 'fall','27.6','346.0'),
('London','United Kingdom','winter','4.2','207.7'),
('London','United Kingdom','sping','8.3','169.6'),
('London','United Kingdom','summer','15.7','157.0'),
('London','United Kingdom','fall','10.4','218.5'),
('Cairo','Egypt', 'winter','13.6','16.5'),
('Cairo','Egypt', 'spring','20.7','6.5'),
('Cairo','Egypt', 'summer','27.7','0.1'),
('Cairo','Egypt', 'fall','22.2','4.5'
);

In [101]:
%sql SELECT * from weather;

 * sqlite:///
Done.

[]

In [106]:
%sql SELECT temperature from weather;

 * sqlite:///
Done.

[]

In [107]:
%sql SELECT distinct city from weather;

 * sqlite:///
Done.

[]

In [108]:
%sql SELECT * from weather where country = 'India';

 * sqlite:///
Done.

[]

In [109]:
%sql SELECT * from weather where season ='fall';

 * sqlite:///
Done.

[]

In [131]:
%sql SELECT city, country, season from weather where rainfall > 200 and rainfall < 400;

 * sqlite:///
Done.

[]

In [130]:
%sql SELECT city, country from weather where season = 'fall' and temperature > 20 order by temperature;

 * sqlite:///
Done.

[]

In [129]:
%sql SELECT sum(rainfall) from weather where city = 'Cairo';

 * sqlite:///
Done.

[(None,)]

In [146]:
%sql SELECT sum(rainfall) from weather group by season;

 * sqlite:///
Done.

[]

# Question 9
<br></br>
Suppose list words is defined as follows:
<p>>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']</p>
<p>Write list comprehension expressions that use list words and generate the following
lists:</p>
<p>a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']</p>
<p>b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']</p>
<p>c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).</p>
<p>d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)</p>
<p>e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)</p>

In [14]:
#a

def Upper(words):  
    for i in range(len(words)): #turing words to uppercase
        words[i] = words[i].upper()

    return words

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
list_Upper = Upper(words)
print(list_Upper)

#b

def Lower(words): 
    for i in range(len(words)): #turing words to lowercase
        words[i] = words[i].lower()

    return words


words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
list_Lower = Lower(words)
print(list_Lower)


#c

def Length(words):
    for i in range(len(words)):  #turing words to the length of each word
        words[i] = len(words[i])

    return words


words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
list_Length=Length(words)
print(list_Length)


#d

def X(words):
    list = [] #list that stores the uppercase, lowercase and length of words
    out = [] #list to create list of the word
    for i in range(len(words)):
        out.append(words[i].upper())
        out.append(words[i].lower())
        out.append(len(words[i]))         
        list.append(out) #append the out list to list
        out = []

    return list


words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
list = X(words)
print(list)

#e

def X_4(words):
    list = []
    for i in range(len(words)):
        if len(words[i]) >= 4:   #When theres 4 or more characters         
            list.append(words[i])

    return list


words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

list = X_4(words)
print(list)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']